h1[class="hello"]{
	background:red;
}
.mybox2 h1{
	background:yellow;
}
a[href="https://www.facebook.com/"]{
	font-size:80px;
}

.i{
	background:red;
	font-size:60px;
	text-transform:uppercase;
}
@media screen and (max-width : 768px){
	.i{
		background:orange;
	}
}
